/*  your css code here. If applicable */
.container{
	background-color:#f5f5f5;
	padding:20px;
}
.box{
	padding:5px;
	border:1px solid gray;
	margin:10px;
}
.author{
	text-align:right;
	font-style:italic;
}